.list {
  animation: loop 10s linear infinite normal;
}

@keyframes loop {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-1 * (100vw - 128px)), 0, 0);
  }
}