.list {
  animation: loop 120s linear infinite normal;
}

.listReverse {
  animation: loop-reverse 120s linear infinite normal;
}

@keyframes loop {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc(-1 * (500vw - 128px)), 0, 0);
  }
}

@keyframes loop-reverse {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(calc((500vw - 128px)), 0, 0);
  }
}
